body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    gap: 20px;
    margin: 0;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 550px;
    gap: 20px;
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.image-section {
    width: 190px;
    flex-shrink: 0;
}

.image-section img {
    width: 100%;
    border-radius: 6px;
}

.form-section {
    width: 100%;
    max-width: 550px;
}

form {
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.row label {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}

.row input,
.row textarea {
    flex: 15;
    padding: 6px;
    border: 1px solid gray;
    font-size: 14px;
}

.grid-row {
    display: grid;
    grid-template-columns: 100% 80px;
    gap: 0px;
    margin-bottom: 12px;
    align-items: center;
}
.start-tijdsduur {
    display: flex;
    gap: 100px;
}

.start-tijdsduur .cell {
    display: flex;
    align-items: center;
    gap: 6px;
}

.start-tijdsduur .inline-label {
    width: 94px;
    font-weight: bold;
    font-size: 14px;
}


.grid-row .cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.grid-row .cell.start {
    width: 100%;
}

.grid-row .cell.tijdsduur {
    width: 80px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.column label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background: #4a90e2;
    outline: none;
    border: none;
}

textarea {
    width: 100%;
    height: 90px;
    resize: none;
}
.stars input {
    cursor: pointer;
}

.stars label {
    cursor: pointer;
}

button {
    width: 100%;
    height: 36px;
    border: 1px solid #808080;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #101010;
}
