* {
    box-sizing: border-box;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: sans-serif;
}

header, nav, main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

main {
    margin-bottom: 80px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px solid #808080;
    border-bottom: 6px solid #808080;
    padding: 55px 0;
}


header img {
    width: 120px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    left: 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

header span {
    font-size: 80px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #eee;
    padding: 8px 12px;
    position: absolute;
    right: 0;
}

nav {
    padding: 15px 0;
    text-align: left;
    border-bottom: 6px solid #808080;
}

nav a {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: black;
    font-family: serif;
    font-size: 14px;
    border: 3px solid #999;
    border-radius: 6px;
    text-align: center;
}

nav a:hover {
    background-color: #f2f2f2;
}

main article, .games article {
    margin-bottom: 25px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.games article {
    flex: 0 1 calc(25% - 30px);
    max-width: calc(25% - 30px);
}

.games figure {
    border: 3px solid #808080;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.games img {
    width: 100%;
    border-radius: 4px;
}

.games article h2,
.games article p {
    margin-top: 6px;
    margin-bottom: 0;
    max-width: 100%;
    padding: 0 50px;
}

.games figure .stars {
    position: absolute;
    top: 10px;
    right: 1rem;
    color: white;
    font-size: 22px;
    padding: 3px 6px;
    border-radius: 4px;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

footer {
    background-color: #d3d3d3;
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}
@media (max-width: 1199px) {
    header h1 {
        font-size: 300%;
        margin: 0;
        text-align: center;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
        border-bottom: 6px solid #808080;
    }

    nav a {
        font-size: 15px;
        text-align: center;
        padding: 15px 7%;
        margin: 0;
    }

    .games article {
        flex: 0 1 calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}
@media (max-width: 899px) {
    header,
    footer {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        border-bottom: 6px solid #808080;
        border-top: 6px solid #808080;
    }

    nav a {
        display: block;
        width: 100%;
        font-size: 15px;
        text-align: center;
        padding: 15px 0;
        margin: 5px;
    }

    .games article {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

